<html>
  <head>
    <title>Timesheet ({{ week.start_date }} - {{ week.end_date }})</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  </head>

  <main class="container">
    <h3>Timesheet</h3>

    <p>
    For period: <date>{{ week.start_date }} to {{ week.end_date }} </date>
    </p>

    <table class="table">
      <tr>
        <th style="min-width:100px">Date</th><th>Description</th><th>Hours</th>
      </tr>
      {% for date, hours, message in week.work_days %}
      <tr>
         <td><date>{{ date }}</date></td><td>{{ message }}</td><td>{{ hours }}</td>
      </tr>
      {% endfor %}
      <tr>
         <td>Total hours</td><td>{{ week.total }}</td>
      </tr>
      <tr>
         <td>Total earnings</td><td>{{ week.total * week.rate }}</td>
      </tr>
    </table>

    <br/>
    <p>
    <i>I, Kirk Roerig have verified the hours above, I acknowledge that it is an accurate record of actual time worked.</i>
    </p>
    Date: <date>{{ week.now }}</date>
  </main>
</html>
